{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
    <div class="col-sm-12 mt-3">
        <h1 class="text-white my-2">Contact Us</h1>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="row g-2">
                <div class="col-6">
                    <label class="col-form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="col-6">
                    <label class="col-form-label" for="emailinput">Email</label>
                    <input type="text" class="form-control" id="emailinput" name="email" required>
                </div>
            </div>
            <div class="row">
                 <div class="col">
                     <label class="col-form-label" for="addr">Address</label>
                     <input type="text" class="form-control" id="addr" name="address" required>
                 </div>
            </div>
            <div class="row">
                 <div class="col">
                     <label class="col-form-label" for="phno">Phone Number</label>
                     <input type="text" class="form-control" id="phno" name="phoneno" required>
                 </div>
            </div>
            <div class="row g-2">
                <div class="col-6">
                    <label class="col-form-label" for="name1">State</label>
                    <input type="text" class="form-control" id="name1" name="state" required>
                </div>
                <div class="col-6">
                    <label class="col-form-label" for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" required>
                </div>
            </div><br>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" >Button</button>
            </div>
        </form>
    </div>
{% endblock body %}