{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block side %}
{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
<div class="col-sm-2 text-center mt-5">
    <h2>Profile</h2>
    <h4 class="my-4 text-warning ">{{ fullname }}</h4>
    {% for group in grp %}
    <h6 class="mb-1" style="margin-top:-20px">{{group.name}}</h6>
    {% endfor %}
</div>
{% endblock side %}

{% block body %}
<div class="col-sm-10 mt-5">
    <h2>Dashboard Page</h2>
    <a href="/addblog" class="btn btn-success my-3">Add Post</a>
    <div class="alert alert-info text-center" role="alert">
        Show Post Information
    </div>
    <div class="nav-item dropdown btn btn-light mb-3 pd-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false" style="color:#F27E11">
            All Author
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/dashboard/{{user}}">Raju</a></li>
            <li><a class="dropdown-item" href="/dashboard/{{user}}">Sapna</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-warning table-striped">
            <thead>
            <tr>
                <th>S.no</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr class="table-active">
                <td>{{user.id}}</td>
                <td>{{user.title}}</td>
                <td width="50%">{{user.content}}</td>
                <td>
                    <a href="#" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i>
                        Detail
                    </a>
                    <a href="/edit/{{user.id}}" class="btn btn-primary" data-bs-toggle="modal"
                       data-bs-target="#exampleModal{{user.id}}">
                        Edit</a>
                    {% if perms.CrupApp.delete_post %}
                    <a href="/delete/{{user.id}}" class="btn btn-danger"><i class="fa fa-trash-o"
                                                                            aria-hidden="true"></i>Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% include 'edit.html' %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}