{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container my-5">
        <h3>Password Reset</h3>
        <hr>
        <form method="post" action="#" novalidate>
            {% csrf_token %}
            {% for i in form %}
            <div class="form-group my-3">
                {{i.label_tag}} {{i}} <small class="text-warning">{{i.errors|striptags}}</small><br>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if fm.non_field_errors %}
        {% for error in fm.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </div>
{% endblock body %}